.pos-noun {
  background-color: rgba(59,130,246,0.3);
  border-radius: 3px;
}

.pos-verb {
  background-color: rgba(34,197,94,0.3);
  border-radius: 3px;
}

.pos-adj {
  background-color: rgba(249,115,22,0.3);
  border-radius: 3px;
}
